.button {
    display: inline-block;
    cursor: pointer;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: $color-bg-icon;

    &:hover {
        background-color: #5eaa2f;
    }
    &:active {
        color: rgba(255, 255, 255, 0.3);
        background-color: #5eaa2f;
    }
}