.button {
    display: inline-block;

    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: $color-bg-icon;
}