.contact__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 27px;
}
.contact__text {
    width: 50%;
    padding-right: 15px;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-title;
    
}

.contact__adress {
    width: 50%;
    margin: 0;
    font-family: $second-font;
    line-height: 20px;
}

@media (min-width: $tablet-width) {
    .contact__wrapper {
        justify-content: space-around;
    }
    .contact__text {
        width: 190px;
        font-size: 20px;
        line-height: 25px;
    }
    .contact__adress {
        width: 170px;
        text-align: right;
        font-size: 16px;
        line-height: 20px;
    }
}
@media (min-width: $desktop-width) {
    .contact {
        position: relative;
    }
    .contact__wrapper {
        position: absolute;
        left: 8%;
        top: 120px;
        background-color: #fff;
        width: 570px;
        height: 200px;
        padding-top: 65px;
        padding-right: 90px;
        padding-left: 75px;
    }
    .contact__text {
        font-size: 20px;
        line-height: 25px;
    }
    .contact__adress {
        text-align: left;
        margin-left: 80px;
    }
}