.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.copyright__title {
    font-family: $second-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.copyright__icon {
    fill: #666666;
    &:hover {
        fill: $color-bg-icon;
    }
    &:active {
        fill: $color-bg-icon;
        opacity: 0.4;
    }
}

@media (min-width: $tablet-width) {
    .copyright {
        margin-right: 0;
        padding: 0;
        margin-left: 0;
    }
    .copyright__icon {
        width: 27px;
        height: 34px;
        margin-left: 20px;
    }
}