.features__title {
    @include title-text;
    color: $color-title;
    margin: 0;
    margin-bottom: 20px;
}

.features__list {
    @include list-reset;
}
.features__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 40px;
    }
}

.features__icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-color: $color-bg-icon;
    background-repeat: no-repeat;
    background-position: center center;
    &--advantage-1 {
        background-image: url(../../img/advantage-1.png.png);
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../../img/advantage-1.png@2x.png);
            background-size: 26px auto;
        }
    }
    &--advantage-2 {
        background-image: url(../../img/andvantage-2.png.png);
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../../img/andvantage-2.png@2x.png);
            background-size: 29px auto;
        }
    }
    &--advantage-3 {
        background-image: url(../../img/advantage-3.png.png);
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../../img/advantage-3.png@2x.png);
            background-size: 23px auto;
        }
    }
    &--advantage-4 {
        background-image: url(../../img/advantage-4.png.png);
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../../img/advantage-4.png@2x.png);
            background-size: 26px auto;
        }
    }
}
.features__text {
    font-family: $second-font;
    margin-left: 20px;
}

@media (min-width: $tablet-width) {
    .features__wrapper {
        padding-top: 30px;
    }
    
    .features__title {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 60px;
    }
    .features__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        counter-reset: item_number;
    }
    .features__item {
        position: relative;
        width: 324px;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 130px;
        counter-increment: item_number;
        z-index: 1;
        &::after {
            position: absolute;
            content: counter(item_number);
            top: 88px;
            left: 100px;
            z-index: -1;
            font-size: 281px;
            color: #f2f2f2;
        }
    }
    .features__icon {
        margin-bottom: 30px;
        width: 80px;
        height: 80px;
    }
    .features__text {
        margin-left: 0;
        margin-top: 0;
        padding-right: 95px;

        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: $desktop-width) {
    .features__list {
        flex-wrap: nowrap;
    }
    .features__item {
        width: 245px;
    }
    .features__text {
        padding-right: 20px;
    }
}