.intro {
    text-align: center;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 304px;
        background-color: #68b738;
        background-image: url(../../img/index-background-mobile.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url(../../img/index-background-mobile@2x.jpg);
        }
    }
    

}
.intro__text {
    padding-top: 25px;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    
}

.intro__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;

    margin: 0;
    margin-bottom: 20px;
}
.intro__slogan {
    margin: 0;
    margin-bottom: 30px;
}
.intro__img {
    margin-bottom: 3px;
}

.intro__link {
    width: 100%;
}

@media (min-width: $tablet-width) {
    .intro {
        text-align: left;
        min-height: 860px;
        &::before {
            display: none;
        }
    }
    .intro__wrapper {
        padding: 0 30px;
    }
    .intro__text {
        width: 547px;
        padding-left: 90px;
        text-align: left;
        color: $color-title;
    }

    .intro__title {
        @include text(60px, 60px, 400);
        text-transform: none;
        margin-bottom: 30px;
    }
    .intro__slogan {
        @include text(20px, 20px, 400);
        margin-bottom: 15px;
    }
    .intro__img {
        position: absolute;
        left: 50%;
        margin-left: -350px;
        z-index: -1;
    }
    .intro__link {
        width: 245px;
        text-align: center;
        margin-left: 90px;
        margin-top: 30px;
        font-size: 20px;
        line-height: 20px;
    }

}

@media (min-width: $desktop-width) {
    .intro {
        min-height: 590px;
        margin-bottom: 80px;
        &::before {
            display: block;
            left: auto;
            right: 0;
            top: -111px;
            width: 720px;
            height: 698px;
            

            background-image: url(../../img/index-background-desktop.jpg.jpg);
            @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
                background-image: url(../../img/index-background-desktop.jpg@2x.jpg);
            }
            
        }
    }
    .intro__text {
        padding-left: 80px;
    }
    .intro__img {
        top: 20px;
        left: auto;
        bottom: auto;
        right: 328px;
    }
    .intro__link {
        margin-left: 80px;
    }
}