.main-nav__toggle {
    top: 0;
    right: 0;
    position: absolute;
    width: 65px;
    height: 65px;
    cursor: pointer;
    
    border: none;
    background-color: transparent;
}
.main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 19px;
    width: 24px;
    height: 2px;
    background-color: #222;
    -webkit-box-shadow: 0 8px 0 0 #222, 0 16px 0 0 #222;
    box-shadow: 0 8px 0 0 #222, 0 16px 0 0 #222
}
.main-nav--open .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 31px;
    left: 22px;
    width: 24px;
    height: 2px;
    background-color: #222;
    transform: rotate(45deg);
}
.main-nav--open .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 22px;
    width: 24px;
    height: 2px;
    background-color: #222;
    transform: rotate(-45deg);
}

@media (max-width: $mobile-width-only) {
    .main-nav--closed .site-list {
        display: none;
    }

    .main-nav--no-js .main-nav__toggle {
        display: none;
    }

    .main-nav--no-js .site-list {
        display: block;
    }
}

@media (min-width: $tablet-width) {
    
    .main-nav__toggle {
        display: none;
    }
}