.products {
    position: relative;
    z-index: 2;
}
//ТУТ ХЕРНЯ С Z-INDEX
.products__title {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding-right: 30px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: $color-title;
    
        
    &::after {
        content: '';
        position: absolute;
        width: 100vw;
        top: 50%;
        z-index: -1;
        left: 0;
        height: 3px;
        background-color: $color-bg-icon;
    } 
}

.products__list {
    @include list-reset();
}

.products__item {
    padding-top: 14px;
    padding-bottom: 17px;

    border-top: 1px solid $color-input-hover ;
    border-bottom: 1px solid $color-input-hover;
    &:last-child {
        margin-bottom: 40px;
    }
}
.products__name {
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #222222;
}
.products__describe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.products__amount,
.products__cost {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    font-family: $second-font;
}
.products__button {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
}

.products__stock {
    position: relative;
    width: 280px;
    min-height: 289px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 35px;

    text-decoration: none;
    cursor: pointer;

    background-image: url(../../img/catalog/gift-photo-desktop.jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

    &::before {
        content: '';

        position: static;
        display: block;
        background-size: 55px 60px;
        width: 55px;
        height: 60px;
        flex-shrink: 0;
        background-image: url(../../img/catalog/gift.svg);
        background-repeat: no-repeat;

    }
    @media (min-resolution: $retina-dppx) {
        background-image: url(../../img/catalog/gift-photo-mobile.jpg@2x.jpg);
    }    
}
.products__text {
    margin-top: 60px;
}
.products__text {
    font-family: $second-font;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}


@media (min-width: $tablet-width) {
    .products__title {
        margin-bottom: 75px;
        font-size: 36px;
        line-height: 36px;
        padding-left: 40px;
        &::before {
            content: '';
            position: absolute;
            width: 100vw;
            top: 50%;
            z-index: -1;
            right: 0;
            height: 3px;
            background-color: $color-bg-icon;
        }
    }
    .products__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        padding-left: 38px;
        padding-right: 38px;
        padding-top: 27px;
        padding-bottom: 27px;
        border: 1px solid #e6e6e6;
        &:last-child {
            margin-bottom: 70px;
        }
    }
    .products__name {
        font-size: 20px;
        line-height: 20px;
    }
    .products__describe {
        display: flex;
        width: 50%;
        margin-bottom: 25px;
    }
    .products__amount {
        margin-left: auto;
        font-size: 16px;
        line-height: 20px;
        
    }
    .products__cost {
        width: 95px;
        text-align: right;
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 1299px) and (min-width: 768px) {
    .products__stock {
        width: auto;
        min-height: 200px;
        flex-direction: row;
        justify-content: space-between;
        background-image: url(../../img/catalog/gift-photo-tablet.jpg.jpg);
        padding: 0;
        padding-left: 90px;
        padding-right: 125px;
        margin-bottom: 75px;
        @media (min-resolution: $retina-dppx) {
            background-image: url(../../img/catalog/gift-photo-tablet.jpg@2x.jpg);
        }    
    }
    .products__text {
        width: 180px;
        text-align: left;
        margin: 0;
    }
}


@media (min-width: $desktop-width) {
    .products__title {
        margin-left: -40px;
    }
    .products__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 85px;

    }
    .products__list {
        width: 895px;
    }

    .products__item {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;

        align-items: center;

        border: none;
        border-top: 1px solid #cdcdcd;
        &:last-child {
            border-bottom: 1px solid #cdcdcd;
            margin: 0;
        }
    }

    .products__name {
        width: 285px;
        margin: 0;
    }
    .products__describe {
        width: 285px;
        margin: 0;
    }
    .products__amount {
        margin: 0;
    }
    .products__cost {
        width: auto;
    }
    .products__button {
        width: 245px;
    }
    .products__stock {
        margin: 0;
        width: 245px;
        background-image: url(../../img/catalog/gift-photo-desktop.jpg.jpg);
        padding-left: 40px;
        padding-right: 40px;
        background-size: 245px auto;
        @media (min-resolution: $retina-dppx) {
            background-image: url(../../img/catalog/gift-photo-desktop.jpg@2x.jpg);
        }
    }
}