.programm {
    margin-bottom: 20px;
}
.programm__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 25px;
    background-color:#f2f2f2;
    margin-left: 20px;
    margin-right: 20px;
}

.programm__slim {
    margin-bottom: 20px;
}

.programm__icon {
    
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 1;
    border-radius: 50%;
    background-color: #68b738;
    &--slim::after {
        content: "";
        position: absolute;
        top: -3px;
        right: 8px;
        width: 35px;
        height: 49px;
        background-image: url(../../img/svg/cat-bg.svg);
        transform: scale(-1, 1);
    }
    &--pro::after {
        content: "";
        position: absolute;
        top: 12px;
        left: -12px;
        width: 67px;
        height: 28px;
        background-image: url(../../img/svg/puma-bg.svg);
    }
    
}

.programm__title {
    margin: 0;
    margin-left: 20px;
    

    color: $color-title;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: 400;
}

.programm__text {
    font-family: $second-font;
    padding-bottom: 20px;
    margin: 0;
    margin-top: 23px;
    

    border-bottom: 1px solid $color-border;
}
.programm__link {
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 44px;
    font-size: 16px;
    line-height: 16px;
    color: $color-title;
    text-transform: uppercase;
    text-decoration: none;
    &::after {
        content: '';
        position: absolute;
        right: 9px;
        top: 22px;
        width: 24px;
        height: 11px;

        background-image: url(../../img/svg/arrow-right.svg);
    }
    &:hover::after {
        width: 33px;
        right: 0px;
        background-image: url(../../img/svg/arrow-right-long.svg);
        background-repeat: no-repeat;
    }
    &:active {
        opacity: 0.3;
    }
}

@media (min-width: $tablet-width) {
    .programm__item {
        padding-left: 50px;
        padding-right: 280px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .programm__title {
        margin: 0;
    }
    .programm__text {
        border: none;
    }
    .programm__icon {
        position: absolute;
        right: 0;
    }
}
