.site-list {
    @include list-reset();
}
.site-list__item {
    text-align: center;

    border-top: 1px solid $color-border;
    &:last-child {
        border-bottom: 1px solid $color-border;
    }
}
.site-list__item-link {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: $color-title;
    text-transform: uppercase;


    display: block;
    padding-top: 23px;
    padding-bottom: 23px;
    &:hover {
        color: $color-title-hover;
    }
    &:active {
        color: $color-title-active;
    }
}

@media (min-width: $tablet-width) {
    .site-list {
        display: flex;
    }
    .site-list__item {
        border: none;
        margin-right: 35px;
        &:last-child {
            border: none;
            margin-right: 0;
        }
    }
    .site-list__item-link {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        padding-top: 8px;
        padding-bottom: 7px;

        &--active {
            border-bottom: 2px solid $color-bg-icon;
        }
    }
}

@media (min-width: $desktop-width) {
    .site-list__item-link {
        font-size: 20px;
        color: #fff;

        &--active {
            border-color: #fff;
        }
    }
    .page-inner .site-list__item-link {
        color: black;

        &--active {
            border-color: $color-bg-icon
        }
        &:hover {
            opacity: 0.8;
        }
    }
}