html,
body {
    min-width: 320px;

    font-style: normal;

    @include text();
    font-family: $font;
    color: $color-text;

    background-color: #fff;
}
// Это хорошая пркатика для IMG
img {
    max-width: 100%;
    height: auto;
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    @media (min-width:$tablet-width) {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: $desktop-width) {
        max-width: 1300px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
