// font
$font: "Oswald", "Arial", sans-serif;
$second-font: "Arial", "Tahoma", sans-serif;

// color
$color-title: rgba(17, 17, 17, 1);
$color-title-hover: rgba(17, 17, 17, 0.6);
$color-title-active: rgba(17, 17, 17, 0.3);
$color-text: rgba(68, 68, 68, 1);

$color-bg-icon: rgba(104, 183, 56, 1);
$color-border: rgba(0, 0, 0, 0.1);

// media
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;